@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@layer utilities {

  /*about text*/
  .main-color{
    color: #008080;

  }
  .bg-main-color{
    background-color: #008080;

  }
  .bg-main-color-hover:hover{
    background-color: #006666;

  }
  .secondary-color{
     color:#fafafa;

  }
  .bg-secondary-color{
    background-color: #fafafa;


  }
  .bg-secondary-color-hover:hover{
    background-color: #e0e0e0;

  }
  .text-hover:hover{
      transition: all 0.3s ease-in;
      color: #008080;
  }

  /*btn*/
  .border-btn{
    border: 1px solid #008080;

  }

}